<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- 此标签之前不能有其他 script 和 link -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>七牛云 Miku快直播 1v1 DEMO</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="https://static.qiniu.com/favicon.ico">
    <style>
      @supports (-webkit-appearance:none) { /* not IE */
        #old-browser {
          display: none;
        }
      }
    </style>
    <script>
      // 如果首次加载就出现了严重的语法错误，将弹出浏览器升级提示（主要针对低版本、类 webkit 内核的浏览器）
      (function () {
        var onError = window.onerror
        window.onerror = function (e) {
          try {
            if (window.SyntaxError && e instanceof SyntaxError || String(e) === '语法错误' || String(e).toLowerCase() === 'syntax error') {
              if (document.getElementById('main-view-wrapper-preload') != null) {
                if (document.getElementById('old-browser') != null) {
                  document.getElementById('old-browser').style.display = 'block'
                }
              }
            }
          } catch (err) {
            console.error ? console.error(err) : console.log(err)
          }
          onError && onError(e)
        }
      })();
    </script>
  </head>
  <body>
    <div id="old-browser" style="position: absolute; z-index: 1; width: 100%; text-align: center; background: #FFF;">
      <a href="https://browsehappy.com" rel="noopener noreferrer">
        <img src="https://static.qiniu.com/static/older-browsers.png" alt="您的浏览器版本过低，为了保障您的访问安全，以及获得更友好的用户体验，建议您升级您的浏览器到最新版本。" style="min-width: 320px; max-width: 100%; max-height: 600px;">
      </a>
    </div>

    <div id="main-view-wrapper" class="main-view-wrapper">
      <div id="main-view-wrapper-preload" style="text-align: center; width: 100%; height: 50px; font-size: 22px; color: #999; position: absolute; top: 50%; margin-top:-25px;">
        <img style="margin-right: 15px; vertical-align: middle; width: 50px; height: 50px; " src="https://static.qiniu.com/loading.gif" alt="加载中">平步云端，数据为先
      </div>
    </div>

    <script src="https://static.qiniu.com/conversion_async.js"></script>
  </body>
</html>
